body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-bar{
    height: 4rem;
    background-color: #000;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.nav-left {
    width: 4.5rem;
}

.nav-left i{
    font-size: 2rem;
}

.nav-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home{
    width: 3rem;
    height: 3rem;
    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home i{
    font-size: 1.5rem;
}

.nav-search{
    width: 480px;
    height: 2rem;
    background-color: #242424;
    border-radius: 100px;
    gap: 0.75rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.nav-search:hover{
    background-color: #2a2a2a;
}

.nav-search i{
    font-size: 1.5rem;
    opacity: 0.7;
}

.nav-search input{
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #fff;
}

.nav-search input::placeholder {
  color: #b3b3b3;
}

.library-icon{
    border-left: 1px solid #3a3a3a;
    padding-left: 0.75rem;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.nav-right button{
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    padding: 0.45rem 1rem;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav-right button:hover{
    transform: scale(1.05);
}

.install{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.9rem;
    opacity: 0.7;
    cursor: pointer;
}

.install:hover{
    opacity: 1;
    transform: scale(1.04);
}

.nav-right i{
    font-size: 1.1rem;
    cursor: pointer;
    opacity: 0.7;
}

.nav-right i:hover{
    opacity: 1;
    transform: scale(1.04);
}

.profile-circle{
    height: 2rem;
    width: 2rem;
    background-color: #7d4b32;
    color: #000;
    border-radius: 50%;
    border: 0.5rem solid #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-right: 2rem;
}

.mobile-search {
    display: none;
}

.mobile-library{
    display: none;
}

@media (max-width: 1199px) {
    .nav-search{
        width: 350px;
    }

    .nav-right button{
        display: none;
    }
}

@media (max-width: 768px) {
    .install span{
        display: none;
    }

    .nav-center {
        display: none;
    }

    .mobile-search {
        display: block;
        font-size: 1.1rem;
        opacity: 0.8;
        cursor: pointer;
    }

    .mobile-search:hover {
        opacity: 1;
        transform: scale(1.05);
    }

    .mobile-library{
        display: block;
        height: 1.25rem;
        width: 1.25rem;
        opacity: 0.7;
    }

    .mobile-library:hover{
        opacity: 1;
        transform: scale(1.05);
    }
}

.main{
    display: flex;
    flex: 1;
    gap: 0.5rem;
    padding: 0.5rem;
    min-height: 0;
}

.sidebar{
    background-color: #121212;
    width: 340px;
    border-radius: 1rem;
    padding: 0.5rem;
}

.main-content{
    background-color: #121212 ;
    flex: 1;
    border-radius: 1rem;
    min-height: 0;
    overflow-y: auto;
    
}

.music-player{
    background-color: black;
    width: 100%;
    height: 4.5rem;
    border-top: 1px solid #282828;
    padding: 0.5rem;
    display: flex;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: #fff;
}

.lib-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.75rem 1rem;
    font-weight: 600;
}

.options{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.7;
}

.options img{
    height: 1.25rem;
    width: 1.25rem;
}

.options:hover{
    opacity: 1;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.75rem 0 1.5rem 0;
    padding: 1rem 1.25rem;
}

.box-p1{
    font-weight: 600;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    height: 2rem;
    width: fit-content;
}

.badge:hover {
    transform: scale(1.04);
}

@media (max-width: 768px){
    .sidebar{
        display: none;
    }
}

.content-header{
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    align-items: center;
    z-index: 5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    padding: 0 1.75rem;
}

.filters{
    display: flex;
    gap: 0.5rem;
}

.filter-btn{
    background-color: #232323;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    opacity: 0.7;
    font-weight: 500;
    cursor: pointer;
}

.filter-btn:hover{
    opacity: 1;
}

.active{
    background-color: #fff;
    color: #000;
    opacity: 1;
}

.content-section{
    padding: 0 1.75rem;
}

.section-title{
    font-size: 1.4rem;
    font-weight: 700;
}

.card-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1.25rem;
}

.card{
    flex: 0 0 150px;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 6px;
}
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card:hover {
  background-color: #2a2a2a;
}

.card-img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
}

.card:hover .card-img {
  transform: scale(1.03);
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.8rem;
    opacity: 0.8;
}

.main-footer{
    margin-top: 4rem;
    padding: 2rem 1.75rem 3rem;
    border-top: 1px solid #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.footer-right{
    display: flex;
    gap: 1.5rem;
}

.footer-right a{
    font-size: 0.8rem;
    opacity: 0.7;
}

.footer-right a:hover{
    opacity: 1;
}

.footer-left{
    opacity: 0.7;
}

.footer-left:hover{
    opacity: 1;
}

@media (max-width: 768px){
    .main-footer{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}

.player-left{
    width: 33%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.player-img{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 4px;
}

.player-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-title{
    font-size: 0.9rem;
    font-weight: 600;
}

.player-artist{
    font-size: 0.75rem;
    opacity: 0.7;
}

.player-center{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.player-control{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.player-icons{
    height: 1rem;
    padding: 0.5rem;
    opacity: 0.7;
    cursor: pointer;
}

.play{
    height: 2rem;
    opacity: 1;
    padding: 0;
}

.player-icons:hover{
    opacity: 1;
    transform: scale(1.04);
}

.player-progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progress-bar{
    width: 80%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #282828;
    border-radius: 100px;
    height: 0.25rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.player-right{
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
}

.player-right i{
    opacity: 0.7;
    cursor: pointer;
    
}

.player-right i:hover{
    opacity: 1;
    transform: scale(1.04);
}

.player-volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.volume-bar{  
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track{
    background-color: #282828;
    border-radius: 100px;
    height: 0.25rem;
}

.volume-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

@media (max-width: 1199px) {
  .player-volume input {
    display: none;
  }
}

@media (max-width: 768px) {
  .player-right {
    display: none;
  }

  .player-left {
    width: 50%;
  }

  .player-center {
    width: 50%;
  }
}

.main-content::-webkit-scrollbar {
    width: 8px;
}

.main-content::-webkit-scrollbar-track {
    background: transparent;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;

}
